@using ClassLibrary.Classes
@{
    ViewData["Title"] = "Добавить пользователя";
}

<form method ="post">
    
    <div>
       <div class="form-group">
           <label>Имя</label>
           <input name="Name" type="text" size="50" />
       </div>
       <div class="form-group">
           <label>Фамилия</label>
           <input name="Surname" type="text" size="50" />
       </div>
       <div class="form-group">
           <label>Отчество</label>
           <input name="SecondName" type="text" size="50" />
       </div>
       <div class="form-group">
           <label>Абонимент</label>
           <select name="Aboniment">
               <option>Люкс</option>
               <option>Эконом</option>
               <option>Премиум</option>
           </select>
       </div>
       <input type="submit" value="Добавить" class="submit" />
    </div>
</form>
